
.progress{
	background-size: cover;
  background-position: center;
  font-family: sans-serif;
color: #01ab97;
  margin: 300px auto;
  height:auto;
}
.progress img{
  width: 80%;
  margin-bottom: 20px;
}

ul{
  text-align: center;
}

ul li{
  display: inline-block;
  width: 200px;
  position: relative;
}

ul li .fa{
  background:#ccc;
  width: 16px;
  height: 16px;
  color: #fff;
  border-radius: 50%;
  padding: 5px;
}

ul li .fa::after{
  content: '';
  background: #ccc;
  height: 5px;
  width: 206px;
  position: absolute;
  left: 0;
  top: 120;
  z-index: -1;
}

ul li:nth-child(1) .fa::after,
ul li:nth-child(2) .fa::after{
  background: #60aa97;
}

ul li:nth-child(3) .fa::after{
  background: #148e14;
}

ul li:first-child .fa::after{
  width: 105px;
  left: 100px;
}

ul li:last-child .fa::after{
  width: 105px;
}
